<div class="content">

  <h1>WHACK A MOLE</h1>

  <button (click)="startGame()" *ngIf="!activeGame">Start</button>

  <div>
    <p *ngIf="activeGame">
      Punkte: {{score}}
    </p>
    <p *ngIf="finishedGame">Spiel beendet. Deine Punktzahl: {{score}}</p>
  </div>

  <div class="game">

    <div *ngFor="let mole of moles" class="moles">
      <div (pointerdown)="countScore(mole)" class="mole">
        <img class="showHill" [class.hiddenHill]="mole.visible && activeGame" src="assets/molehills.png"
             alt="molehills">
        <img class="mole-img" [class.visible]="mole.visible && activeGame" src="assets/mole.png" alt="mole">
      </div>
    </div>

  </div>

</div>
