.game {
  width: 200px;
  display: flex;
  flex-wrap: wrap;

  .moles {

    .mole {
      height: 35px;
      width: 35px;
      background-color: blue;
      margin: 10px;
    }
  }
}


.visible {
  background-color: red !important;
}
